.portfolio__square{
    padding: 10px;
    border:1px solid #e4e4e4;
    min-height: 240px;

    .portfolio__subtitle{
        text-align: center;
        margin-bottom: 20px;
        display: block;
        font-style: italic;
        font-size: 12px;
        margin-top: -5px;
    }

    .portfolio__list{
        line-height: 1.2em;
        margin: 0;
        padding: 0 0 0 20px;
        li{
            color:#4d4d4d;
        }
    }
    .form__row{
        margin-bottom: 4px;
        input{
            display: inline-block;
            width: 49%;
        }
    }
}