.profile__info{
    margin-top: 40px;
    background: #e6e6e6;
    min-height: 300px;

    &--image{
        width: 300px;
        height: inherit;
        position: relative;
        background: #000;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        &--message{
            position: absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
            margin: auto;
            height: 40px;
            width: 80%;
            color:#fff;
            text-align: center;
            font-size: 16px;
        }
        &--form{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
            bottom: 0;
            right: 0;
            margin: auto;
            height: 40px;
            background: white;
        }
    }

    &--resume--group{
        position: absolute;
        right: 0;
        bottom:20px;
        label{
            background: #000;
            color: #fff;
            line-height: 20px;
            display: block;
            border-radius: 100px;
            height: 25px;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 13px;
            padding: 3px 16px 4px;
        }
    }

    &--resume--form{
        display: block;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        opacity: 0;
        overflow: hidden;
        position: absolute;
    }

    &--download--resume{
        position: absolute;
        right: 0;
        bottom: 20px;
        background: #000;
        display: block;
        border-radius: 100px;
        height: 25px;
        line-height: 20px;
        width: auto;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        padding: 3px 16px 4px;
    }

    &--header{
        padding: 20px 0 20px 30px;
        width: 100%;
        height: 100%;
        position: relative;
    }

    &--title{
        font-size: 42px;
        font-weight: lighter;
        margin: 0 0 -6px 0;
        position: relative;
        input{
            font-size: 42px;
            font-weight: lighter;
            margin: 0 0 -6px -1px;
            background: transparent;
            width: 100%;
            border:none;
            padding-right: 40px;
            &:focus{
                outline: 1px solid rgba(0, 0, 0, 0.1);
                background: white;
            }
        }
    }

    .add__skill__form--checked { display: none; }
    input{
        &:focus + span{
            display: block;
        }
    }
    &--address{
        font-weight: 600;
        color:#4d4d4d;
        font-style: normal;
        margin: 0 0 -6px 0;
        position: relative;
        display: block;
        max-width: 180px;
        .add__skill__form--checked { right: -25px; }
        input{
            font-weight: 600;
            color:#4d4d4d;
            font-style: normal;
            margin: 0 0 -6px -1px;
            background: transparent;
            border:none;
            padding-right: 20px;
            &:focus{
                outline: 1px solid rgba(0, 0, 0, 0.1);
                background: white;
            }
            
        }
    }

    &--languages{
        font-weight: 600;
        color:#4d4d4d;
        font-style: normal;
        margin: 0 0 10px 0;
        position: relative;
        display: block;
        max-width: 180px;
        .add__skill__form--checked { right: -25px; }
        input{
            font-weight: 600;
            color:#4d4d4d;
            font-style: normal;
            margin: 0 0 -6px -1px;
            background: transparent;
            border:none;
            padding-right: 20px;
            &:focus{
                outline: 1px solid rgba(0, 0, 0, 0.1);
                background: white;
            }
        }
    }

    &--skills{
        padding: 0;
        margin: 0;
        li{
            padding: 3px 12px 0;
            text-transform: uppercase;
            margin: 0 5px 0 0;
            background: rgb(0,0,0);
            color:#fff;
            display: inline-block;
            border-radius: 3px;
            font-weight: bold;
            font-size: 12px;
            position: relative;
            &:hover > span{ display:  inline-block; }
            &:last-child{ margin: 0; }
            &.basic { background: #a1a1a1}
            &.medium { background: #5c5c5c}
            &.strong { background: #000000}
        }
    }

    &--publish{
        background: #b8b8b8;
        color:#fff;
        font-weight: bold;
        border-radius: 100px;
        display: inline-block;
        text-transform: uppercase;
        padding: 10px 12px 7px;
        cursor: pointer;
        transition: background-color 200ms ease-in;
        &:hover{
            background-color: #000;
            color:#fff;
        }
    }

    .profile__button__group{
        float: right;
        position: relative;
        z-index: 10;
        button{
            display: inline-block;
            margin: 0 5px 0 0;
            &:last-child{ margin: 0; }
        }
        p{
            display: block;
        }
    }
    .profile__info--form{
        float: left;
        width: calc(100% - 270px);
    }

    &--save{
        background: #b8b8b8;
        color:#fff;
        font-weight: bold;
        border-radius: 100px;
        display: inline-block;
        text-transform: uppercase;
        padding: 10px 12px 7px;
        cursor: pointer;
        transition: background-color 200ms ease-in;
        &:hover{
            background-color: #000;
            color:#fff;
        }
    }
}

@media all and (max-width:$tablet){
    .profile__info{    
        
        .profile__info--form{
            width: 100%;
            float: none;
        }
        .profile__button__group{
            float: none;
            margin-bottom: 20px;
        }
    }
}

@media all and (max-width:$mobile){
    .profile__info{    
        &--title{
            input{
                width: 100%;
            }
        }
        &--header{
            padding: 20px 30px;
        }
    
        .profile__info--form{
            width: 100%;
            float: none;
        }
        .profile__button__group{
            float: none;
            margin-bottom: 20px;
            button{
                margin-bottom: 15px;
            }
        }
        &--save{
            position: initial;
            text-align: center;
            max-width: 300px;
            margin: 20px 0 20px 0;
            display: block;
        }
        
        &--publish{
            position: initial;
            text-align: center;
            max-width: 300px;
            margin: 20px auto 10px;
        }
        &--image{
            height: 240px;
        }
        &--download--resume{
            position: initial;
            text-align: center;
            max-width: 300px;
            margin: 20px auto 10px;
        }
        &--skills{
            li{
                margin-bottom: 10px;
            }
        }
    }
}