.project__square{
    position: relative;
    width: 100%;
    height: inherit;
    display: block;
    overflow:hidden;
    &--thumb{
        left:0;
        top:0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    &--desc{
        position: absolute;
        bottom:0;
        left:0;
        padding: 10px;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        color:#fff;
    }
}

.project__form{
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    .project__title--form{
        margin-bottom: 10px;
    }
}