
.profile__square{
    padding: 10px;
    border:1px solid #e4e4e4;
    min-height: 240px;
    position: relative;
    &--black{
        background: #000;
    }
    &--title{
        margin:0 auto 40px auto;
        font-size: 16px;
        text-align: center;
        line-height: 1.3em;
        color:#4d4d4d;
        &--white{
            color:white;
        }
        &--hasSub {
            margin-bottom: 0;
        }
        &--smallMar{
            margin-bottom: 10px;
        }
    }

    .section__divider{
        margin: 10px -10px 15px -10px;
        height: 1px;
        background: #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        border-top: none;
    }

    &--left--quote{
        display: block;
        text-align: right;
        font-family: Arial, Helvetica, "AppleGothic", sans-serif;
        font-size: 100px;
        font-weight: bold;
        position: absolute;
        opacity: .1;
        top: 78px;
        left: 1px;
    }

    &--right--quote{
        display: inline-block;
        font-family: Arial, Helvetica, "AppleGothic", sans-serif;
        font-size: 100px;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        right:3px;
        opacity: .1;
    }

    &--quote{
        padding: 0;
        margin:0;
        
        p{
            padding: 0 10px;
            line-height: 1.4em;
            em{
                font-family: Georgia, Times, Times New Roman, serif;
                font-size: 14px;
            }
        }
        &--author{
            display: block;
            text-align: right;
        }
    }
}

.availability__square{
    &--bigTitle{
        margin: -30px 0 0 0;
        color:#4d4d4d;
        text-align: center;
    }
    &--enviroments{
        margin: 0 auto;
        text-align: center;
        max-width: 85%;
    }
}


.quote__text__field{
    width: 100%;
    min-height: 130px;
    border:none;
    resize: none;
    border-radius: 0;
    padding: 10px;
    font-style: italic;
    font-size: 16px;;
    font-family: Georgia, Times, Times New Roman, serif;
}