.sample__code{
    overflow: hidden;
    .profile__square--title{
        position: relative;
        z-index: 10;
        &:before{
            content:'';
            display: block;
            left:-10px; top:-10px;
            height: 60px;
            background: rgba(255, 255, 255, 0.3);
            z-index: -1;
            width: 120%;
            position: absolute;
        }
    }
    &--image{
        width: 100%;
        height: 100%;;
        background-position: center;
        background-size: cover;
        position: absolute;
        left:0;
        top:0;
        z-index: 3;
        &--form{
            background-position: center;
            background-size: cover;
            text-align: center;
            display: flex;
            width: 100%;
            height: 100%;
            align-content: center;
            align-items: center;
        }
    }
}