// Colors 

$darkblue: #4A5174;
$brightpink: #F64B80;
$bodycolor: #4D4E56;
$mainyellow: #fde392;
$grayicons: rgba(48,60,66,0.20);
$lightgray: #F9F9F9;

//  Sizes
$desktop: 1204px;
$tablet: 767px;
$mobile: 640px;

