// Import main font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html,
.root {
    font-size: 14px;
    line-height: 26px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body,
.article {
    font-family: sans-serif;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.8571429rem;
    margin: auto;
}

h1,
.h1 {
    font-size: 2.7142857rem;
    line-height: 3.7142857rem;
    margin-top: 1.8571429rem;
    margin-bottom: 3.7142858rem;
}

h2,
.h2 {
    font-size: 1.9285714rem;
    line-height: 3.7142857rem;
    margin-top: 1.8571429rem;
    margin-bottom: 1.8571429rem;
}

h3,
.h3 {
    font-size: 1.4285714rem;
    line-height: 1.8571429rem;
    margin-top: 1.8571429rem;
    margin-bottom: 0rem;
}

h4,
.h4 {
    font-size: 1rem;
    line-height: 1.8571429rem;
    margin-top: 1.8571429rem;
    margin-bottom: 0rem;
}

h5,
.h5 {
    font-size: 1rem;
    line-height: 1.8571429rem;
    margin-top: 1.8571429rem;
    margin-bottom: 0rem;
}

p,
ul,
ol,
pre,
table,
blockquote {
    margin-top: 0rem;
    margin-bottom: 1.8571429rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin-top: 0rem;
    margin-bottom: 0rem;
}


/* Let's make sure all's aligned */

hr,
.hr {
    border: 1px solid;
    margin: -1px 0;
}

a,
b,
i,
strong,
em,
small,
code {
    line-height: 0;
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

// Align
.text__right{ text-align: right; }

// Text Block
.text__block{
    &--white{ color:#fff; }
    &--15 *{ font-size: 15px}
    &--normal * { font-weight: normal }
    &--italic{ font-style: italic;}
}

.divider__title{
    text-align: center;
    font-weight: lighter;
    display: block;
    width: 100%;
    margin: 40px 0 30px 0;
}

.availability__text__field{
    width: 100%;
    resize: none;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    padding: 5px;
    font-style: italic;
    font-size: 16px;
    font-family: Georgia, Times, Times New Roman, serif;
}