// Config
@import './base/_config.scss';

// Base Styles
@import './base/_normalize.scss';
@import './base/_foundation.scss';
@import './base/_typography.scss';

// Components
@import './components/_header.scss';
@import './components/_navigation.scss';
@import './components/_footer.scss';