// Config
@import './base/_config.scss';

// Base Styles
@import './base/_normalize.scss';
@import './base/_utilities.scss';
@import './base/_foundation.scss';
@import './base/_typography.scss';

// Components
@import './components/_header.scss';
@import './components/_logo.scss';
@import './components/_navigation.scss';
@import './components/_profileInfo.scss';
@import './components/_addSkillForm.scss';
@import './components/_toHire.scss';
@import './components/_qaForm.scss';
@import './components/_experience.scss';
@import './components/_locationMap.scss';
@import './components/_portfolio.scss';
@import './components/_sampleCode.scss';
@import './components/_quoteSquare.scss';
@import './components/_projectSquare.scss';
@import './components/_toptalTopSkills.scss';
@import './components/_joinMessageBox';
@import './components/_footer.scss';

// Common
@import './common/_buttons.scss';
@import './common/_joinToptal.scss';