.app__btn{
    cursor: pointer;
    &--round{
        border-radius:2px;
        -moz-border-radius:2px;
        -o-border-radius:2px;
        -webkit-border-radius:2px;
    }
    &--inline{
        display: inline-block;
    }
    &--join--header{
        background: #fff;
        color:#000;
        text-transform: uppercase;
        font-weight: bold;
        padding:5px 10px;
        margin-left: 5px;
    }
    &--login{
        margin-left: 20px;
        background: #808080;
        color:#fff;
        margin-right: 0.9375rem;
    }
    // Message box
    &--join--message--box{
        font-size: 14px;
        background: #fff;
        position: relative;
        top:-3px;
        color:#000;
        text-transform: uppercase;
        font-weight: bold;
        padding: 13px 25px;
        margin-left: 5px;
        border-radius:100px;
        -moz-border-radius:100px;
        -o-border-radius:100px;
        -webkit-border-radius:100px;
    }
}